.DS_Store
yarn.lock
node_modules
node_modules/*
build
ui-library/dist
ui-library/dist-mfe
ui-library/storybook-static
ui-library/*.log
web-app/src/**/*.js
web-app/src/**/*.d.ts
!web-app/src/react-app-env.d.ts
./package-lock.json
package-lock.json
