/* stylelint-disable selector-list-comma-newline-after */
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 24px 16px 0;
}

body {
  font-family: Georgia, "Times New Roman",
    serif /*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.disable-text-selection {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  user-select: none;
}

.navbar {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  border-bottom: 1px solid rgb(13 110 253 / 25%) !important;
}

.footer{
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  border-top: 1px solid rgb(13 110 253 / 25%) !important;
}

.navbar-nav .nav-item .nav-link {
  margin: 0px 8px 0px 8px;
}

.navbar-nav .nav-item .nav-link.active {
  color: #1f76a8;
  font-weight: 550;
  border-bottom: 2px solid black;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #1f76a8;
  font-weight: 500;
  border-bottom: 2px solid black;
}

.blog-header-logo {
  line-height: 1;
  color: #2485bd;
  font-family: "Playfair Display", Georgia, "Times New Roman",
    serif /*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 1.25rem;
}
.blog-header-logo .logo-subtext {
  font-size: 0.75rem;
  color: #080808;
  padding-top: 0.2rem;
  padding-left: 0.1rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman",
    serif /*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  padding-top: 16px;
}
.small-text {
  font-size: 0.75rem;
}

img {
  padding: 16px;
}

/*article*/
.article-viewer {
  margin-top: 32px;
}
.sub-header {
  color: #1f76a8;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 16px 0px 16px 0px;
}

.list-component {
  margin: 16px;
}

.editor-action-col-start {
  display: flex;
  justify-content: flex-start;
}
.editor-action-col-end {
  display: flex;
  justify-content: flex-end;
}

.padding-lr-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.admin .editor .row {
  padding: 8px;
}

.admin .editor input {
  font-size: 2rem;
}

.edit-area {
  border: 1px solid #26f126;
}
.component-hover:hover {
  border: 1px solid #edb24d;
  padding: 8px;
  background: #d4e4e4;
}

.edit-prompt .card-footer {
  display: flex;
  justify-content: space-between;
}

.top-action-box {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid;
}

.list-editor_item{
  display: flex;
}

.list-editor_item, button{
  margin: 4px;
}

@media screen and (min-width: 767px) and (max-width: 846px) {
  main > .container {
    padding: 32px 16px 0;
  }
  .article-viewer {
    margin-top: 64px !important;
  }
}