main>.container {
  padding: 80px 0px 0px 0px;
  max-width: 1024px;
}

body {
  font-family: "Source Serif 4", sans-serif !important;
  /**font-family: "Public Sans", sans-serif;*/
  /** font-family: 'Noto Serif Display', serif; */
  /** font-family: 'Merriweather', serif; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

b {
  font-weight: 800;
}

.disable-text-selection {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  user-select: none;
}

.navbar {
  background-color: #ffffff;
  border-color: #e7e7e7;
  border-bottom: 1px solid rgb(13 110 253 / 25%) !important;
}

.footer {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  border-top: 1px solid rgb(13 110 253 / 25%) !important;
}

.navbar-nav .nav-item .nav-link {
  margin: 0px 8px 0px 8px;
}

.navbar-nav .nav-item .nav-link.active {
  color: #1f76a8;
  font-weight: 800;
  border-bottom: 2px solid black;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #1f76a8;
  font-weight: 700;
  border-bottom: 2px solid black;
}

.navbar .header-links {
  justify-content: space-between;
}

.blog-header-logo {
  line-height: 1;
  color: #2485bd;
  font-family: "Merriweather", serif !important;
  font-size: 1.25rem;
}

.blog-header-logo .logo-subtext {
  font-size: 0.75rem;
  color: #080808;
  padding-top: 0.2rem;
  padding-left: 0.1rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

.small-text {
  font-size: 0.75rem;
}

img {
  padding: 16px;
}

.card img {
  max-height: 350px;
  object-fit: cover;
  object-position: center;
}

/*article*/
.article-viewer {
  min-height: 85vh;
  overflow-wrap: break-word;
}

.sub-header {
  color: #1f76a8;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 16px 0px 16px 0px;
}

.list-component {
  margin: 16px;
}

.editor-action-col-start {
  display: flex;
  justify-content: flex-start;
}

.editor-action-col-end {
  display: flex;
  justify-content: space-between;
}

.padding-lr-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.admin {
  font-family: "Public Sans", sans-serif;
}

.admin .article-viewer {
  font-family: "Source Serif 4", sans-serif;
}

.admin .template-viewer {
  font-family: "Source Serif 4", sans-serif;
}

.admin .edit-area {
  font-family: "Source Serif 4", sans-serif;
}

.admin .dropdown-preview {
  font-family: "Source Serif 4", sans-serif;
}

.admin-preview {
  font-family: "Source Serif 4", sans-serif;

}

.admin .editor .edit-area .row {
  padding: 8px;
}

.admin .editor .article-title-input {
  font-size: 1.5rem;
}

.admin .editor .list-editor input {
  font-size: 1rem;
}

.admin .admin-module-title {
  color: #1f76a8;
  margin: 16px 0px 16px 0px;
}

.admin .form-switch {
  padding-top: 8px;
}

.edit-area {
  border: 1px solid #26f126;
}

.component-hover:hover {
  border: 1px solid #edb24d;
  padding: 8px;
  background: #d4e4e4;
}

.scrollable {
  overflow-y: scroll;
}

.edit-prompt .card-footer {
  display: flex;
  justify-content: space-between;
}

.top-action-box {
  display: flex;
  justify-content: space-between;
}

.list-editor_item {
  display: flex;
}

.list-editor_item,
button {
  margin: 4px;
}

.admin-login {
  padding: 100px 32px 32px 32px !important;
  min-height: 100vh !important;
  margin: 0px;
  max-width: 450px !important;
  min-width: 200px;
  background: linear-gradient(50deg, #1f76a8 0%, #ffffff40 14%, #ffffff00 100%);
}

@media screen and (min-width: 767px) and (max-width: 846px) {
  main>.container {
    padding: 100px 0px 0px 0px !important;
  }
}

.contact-us {
  padding: 100px 32px 32px 32px !important;
  min-height: 93vh !important;
  margin: auto;
  max-width: 450px !important;
  min-width: 200px;
}

.about-us {
  padding: 100px 32px 32px 32px !important;
  min-height: 93vh !important;
  margin: auto;
  max-width: 400px;
  min-width: 200px;
}

.qna {
  padding: 100px 32px 32px 32px !important;
  min-height: 93vh !important;
  margin: auto;
  max-width: 400px;
  min-width: 200px;
}

/** Printing content not allowed */
@media print {
  body {
    display: none;
  }
}

.confirmation-button .confirmation-button-prompt {
  position: absolute;
  top: 40vh;
  left: 40vw;
  z-index: 100;
  box-shadow: 0px 0px 3000px 70px #1f76a8;
  border-radius: 25px;
}

.accordion-button {
  color: #080808 !important;
}